/*  ┌─────────────────────────────────────────────────────────────────────────┐
    │                                                                         │░
    │                                                                         │░
    │                                 Icons                                   │░
    │                                                                         │░
    │                                                                         │░
    └─────────────────────────────────────────────────────────────────────────┘░
     ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */

    .pipeline_page_youtube_scraper .mdi{
        font-size: 16px;
        vertical-align: bottom;
        color: #70579F;
    }

/*  ┌─────────────────────────────────────────────────────────────────────────┐
    │                                                                         │░
    │                                                                         │░
    │                                 TABLES                                  │░
    │                                                                         │░
    │                                                                         │░
    └─────────────────────────────────────────────────────────────────────────┘░
     ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */


#acf-group_5e9efc1fc183a table { 
    border-collapse: separate;
    border-spacing: 0 40px;
    border: 0px;
    background: transparent;
}    
#acf-group_5e9efc1fc183a table>tbody>tr { 
    border: 0px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072);
}    
#acf-group_5e9efc1fc183a table>tbody>tr>td { 
    border:0px;
    border-top: 1px solid rgba(230,230,230,0.5);
}

.acf-table>tbody>tr:nth-child(odd) td {background: #fafafa } 
.acf-table>tbody>tr:nth-child(even) td {background: #F2F9FF } 


.-collapsed .-collapsed-target {
    width: 100% !important;
}
.-collapsed .-collapsed-target input {
    text-align: center;
}

.acf-field-5ea141c6d975e .acf-field-group {
    padding: 0px;
    border: 0px;
    background: transparent;
}
.acf-field-5ea141c6d975e .acf-field-group .acf-input > .acf-fields {
    border: 0px;
    background: transparent;
}
.acf-field-5ea141c6d975e .acf-field-group .acf-label {
    display: none;
}